# Entorno virtual
venv/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo

# Base de datos SQLite (opcional: si querés que otros generen su propia DB)
tareas.db
usuarios.db

# Archivos de sistema
.DS_Store
Thumbs.db

